@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  body {
    @apply text-[16px] bg-[#FAFAFA] leading-[100%] font-normal text-black2;
  }

  .container {
    @apply w-full mx-auto max-w-[1290px] lg:px-10 md:px-6 px-4;
  }

  .section-mb {
    @apply mb-[100px];
  }

  .main-abs-bg::before {
    content: "";
    position: absolute;
    left: 100%;
    width: 100vw;
    top: 0;
    height: 100%;
    background-color: #fff;
  }

  .news-text {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.google-map {
  aspect-ratio: 12/12;
}

@media (min-width: 1024px) {
  .google-map {
    aspect-ratio: 16/9;
  }
}
