@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-surface-primary;
  }
}

@layer utilities {
  body {
    @apply text-[16px] bg-white tab:bg-[#FAFAFA] leading-[100%] font-normal text-black2 h-full;
  }

  .h2 {
    @apply text-3xl md:text-4xl font-bold;
  }

  .page-m {
    @apply pt-8 mb-24;
  }

  .container {
    @apply w-full mx-auto max-w-[1290px] lg:px-10 md:px-6 px-4;
  }

  .section-mb {
    @apply pb-[60px] lg:pb-[160px] md:pb-[100px];
  }

  .form-input {
    @apply flex h-14 rounded border p-4 focus:ring-[3px] focus:outline-none focus:ring-surface-brand transition-all ring-border ring-1 bg-transparent text-base file:border-0 file:outline-none file:text-sm file:w-fit  focus-visible:outline-none disabled:cursor-not-allowed disabled:opacity-50;
  }

  .form-label {
    @apply text-[14px] text-text-secondary font-semibold leading-[140%];
  }

  .exibition-about-wrapper ul {
    @apply flex flex-col gap-3 leading-[130%] pl-6 list-disc;
  }

  .exibition-about-wrapper p {
    @apply text-base leading-[24px];
  }

  .exibition-about-wrapper img {
    @apply h-full w-full object-cover !important;
  }

  .exibition-about-wrapper strong {
    @apply text-purple;
  }

  .select-inner h3:not(:first-child) {
    @apply text-[18px] mb-2 mt-5 font-semibold leading-[150%];
  }

  .select-inner h3:first-child {
    @apply text-[18px] font-semibold mb-2 leading-[150%];
  }

  .select-inner p {
    @apply leading-[150%] mb-6;
  }

  .select-inner ul {
    @apply ml-8 flex flex-col gap-3  leading-[150%];
  }

  .select-inner li {
    @apply relative list-disc mb-1;
  }

  .select-inner ul li em {
    @apply my-10;
  }

  .select-inner ol {
    @apply ml-8;
  }

  .select-inner ol li {
    @apply my-3 leading-[150%];
  }

  .select-inner strong {
    @apply text-[16px];
  }

  .select-inner u {
    @apply block mb-3 mt-5;
  }

  .seperate-news p {
    @apply leading-[150%];
  }

  .select-inner a {
    @apply text-purple underline font-semibold;
  }

  .select-prints p img {
    @apply !w-full;
  }

  .select-inner tbody {
    @apply flex flex-col justify-between gap-3;
  }

  .select-inner tbody tr {
    @apply flex justify-between items-center;
  }

  .event-topic p {
    @apply before:content-["•"] before:px-2 before:text-green;
  }

  .link-border-bottom {
    @apply after:content-[''] after:absolute after:top-[20px] after:left-0 after:h-[2px] after:bg-white after:w-full hover:text-white;
  }

  .footer-serv p strong {
    @apply text-[18px] font-semibold mb-3;
  }

  .footer-serv p {
    @apply text-[14px];
  }

  .progress-circle {
    @apply size-14 rounded-full text-2xl z-10 text-text-secondary;
  }

  :disabled {
    @apply opacity-60;
  }

  .dot {
    @apply w-5 h-1 cursor-pointer bg-surface-primary rounded-[2px];
  }

  .dot-active {
    @apply w-5 h-1 bg-surface-brand rounded-[2px];
  }

  .real-checkbox {
    width: 16px;
    height: 16px;
    opacity: 0;
    cursor: pointer;
    position: absolute;
    z-index: 10;
  }

  .fake-checkbox {
    position: relative;
    cursor: pointer;
    display: inline-block;
    width: 16px;
    height: 16px;
    border-radius: 2px;
    border: 1px #b3b3b3 solid;
  }

  .fake-checkbox::before {
    content: "";
    display: inline-block;
    width: 10px;
    height: 10px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: all 0.1s ease-in;
    background-image: url("/assets/icons/apply/check.svg");
    background-repeat: no-repeat;
    background-size: contain;
  }

  .real-checkbox:checked + .fake-checkbox::before {
    transform: translate(-50%, -50%) scale(1);
  }

  .main-abs-bg::before {
    content: "";
    position: absolute;
    left: 100%;
    width: 100vw;
    top: 0;
    height: 100%;
    background-color: #fff;
  }

  .main-abs::after {
    content: "";
    position: absolute;
    bottom: 0;
    top: 100%;
    left: 100%;
    width: 100%;
    height: 100%;
    background-color: #fff;
  }

  .news-text {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.google-map {
  aspect-ratio: 12/12;
}

@media (min-width: 1024px) {
  .google-map {
    aspect-ratio: 16/9;
  }
}
